.heading{
    text-align:right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(224, 45, 45);
}
body{
    justify-content: center;
    display: grid;
    background-color: #1f2021;
    place-items: center;
}

.container {
    padding: 1.5rem;
    background-color: #777777;
    height: 380px;
    width: 250px;
    justify-content: center;
    border-radius: 6px;
}
.row {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding: 6px 0;
}
.button{
    text-align: center;
    font-size: large;
    height: 50px;
    width: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(245, 220, 242);
}
.input{

    align-items: center;
    display: flex;
    justify-content: center;
    width: auto;
}
.output{
    height: 45px;
    width: 242px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: large;
    font-weight: 400;
    text-align: right;
    padding-right: 15px;
    margin-bottom: 1rem;
}

